<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WsConnection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <WsConnection.Properties.Settings>
      <setting name="WsConnection_WsCommon_WsCommon" serializeAs="String">
        <value>http://smssrv/sms/WsCommon.asmx</value>
      </setting>
      <setting name="WsConnection_WebRefU01_WsU01" serializeAs="String">
        <value>http://smssrv/sms/WsU01.asmx</value>
      </setting>
      <setting name="WsConnection_WebRefS02_WsS02" serializeAs="String">
        <value>http://smssrv/sms/WsS02.asmx</value>
      </setting>
      <setting name="WsConnection_WebRefSms_WsSms" serializeAs="String">
        <value>http://smssrv/sms/WsSms.asmx</value>
      </setting>
      <setting name="WsConnection_WebRefS01_WsS01" serializeAs="String">
        <value>http://smssrv/sms/WsS01.asmx</value>
      </setting>
      <setting name="WsConnection_WebRefP02_WsP02" serializeAs="String">
        <value>http://smssrv/sms/WsP02.asmx</value>
      </setting>
      <setting name="WsConnection_WebRefP01_WsP01" serializeAs="String">
        <value>http://smssrv/sms/WsP01.asmx</value>
      </setting>
      <setting name="WsConnection_WebRefMaster_WsMaster" serializeAs="String">
        <value>http://smssrv/sms/WsMaster.asmx</value>
      </setting>
      <setting name="WsConnection_WebRefM01_WsM01" serializeAs="String">
        <value>http://smssrv/sms/WsM01.asmx</value>
      </setting>
      <setting name="WsConnection_WebRefK04_WsK04" serializeAs="String">
        <value>http://smssrv/sms/WsK04.asmx</value>
      </setting>
      <setting name="WsConnection_WebRefK03_WsK03" serializeAs="String">
        <value>http://smssrv/sms/WsK03.asmx</value>
      </setting>
      <setting name="WsConnection_WebRefK02_WsK02" serializeAs="String">
        <value>http://smssrv/sms/WsK02.asmx</value>
      </setting>
      <setting name="WsConnection_WebRefK01_WsK01" serializeAs="String">
        <value>http://smssrv/sms/WsK01.asmx</value>
      </setting>
      <setting name="WsConnection_WebRefJ01_WsJ01" serializeAs="String">
        <value>http://smssrv/sms/WsJ01.asmx</value>
      </setting>
      <setting name="WsConnection_WebRefA01_WsA01" serializeAs="String">
        <value>http://smssrv/sms/WsA01.asmx</value>
      </setting>
    </WsConnection.Properties.Settings>
  </applicationSettings>
</configuration>